
body {
  width: 1000vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  
}
.button-square {
  position: fixed;
  display: flex;
  flex-direction:column;
  width: relative;
  height: 300px;
  z-index: 1;
}
button {
  flex: 0 0 100px;
  height: relative;
  width: 200px;
  margin: 0;
  background-color:rgba(59, 56, 56, 0.868);
  border: none;
  color: rgb(0, 255, 76);
  font-size: 18px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.411);
  
}
button:hover {
  background-color: #555;
}

button:active {
  background-color: #777;
}
#InfoTabulka{
  width: relative;
  height: relative;
  color: rgb(0, 255, 76);
  background-color: rgba(59, 56, 56, 0.868);
  font-size: 50px;


}
#searchFilter{
  
  display: block;
  color: deeppink;
  background-color: rgb(5, 32, 59);
  left: 70%;
  position: fixed;
  height: relative;
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border-radius: 12px;
  z-index: 1;
  margin-top: 4%;

}
#searchFilter *:hover {
  background-color: lightblue;
  cursor: pointer;  
  caret-color: transparent;
  -webkit-caret-color: transparent;
  -moz-caret-color: transparent;
}
#search {
  display: block;
  color: deeppink;
  background-color: rgb(5, 32, 59);
  left: 70%;
  position: fixed;
  height: 5%;
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border-radius: 12px;
  z-index: 265;

}

@media only screen and (max-width: 600px){
  #search {
    display: block;
    color: deeppink;
    background-color: rgb(5, 32, 59);
    left: 60%;
    position: fixed;
    height: 160px;
    width:100%;
    font-size: 70px;
    padding: 11px;
    border: 1px solid #ddd;
    z-index: 265;
  
  }
  #searchFilter{
  
    display: block;
    color: deeppink;
    background-color: rgb(5, 32, 59);
    left: 60%;
    position: fixed;
    height: relative;
    width: 100%;
    font-size: 70px;
    padding: 11px;
    border-radius: 12px;
    z-index: 1;
    margin-top: 190px;
  
  }
  .button-square {
    position: fixed;
    display: flex;
    flex-direction:column;
    width: relative;
    height: 300px;
    z-index: 1;
  }
  button {
    flex: 0 0 100px;
    height: relative;
    width: 200px;
    margin: 0;
    background-color:rgba(59, 56, 56, 0.868);
    border: none;
    color: rgb(0, 255, 76);
    font-size: 18px;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.411);
    
  }
  button:hover {
    background-color: #555;
  }
  
  button:active {
    background-color: #777;
  }
  #InfoTabulka{
    width: relative;
    height: relative;
    color: rgb(0, 255, 76);
    background-color: rgba(59, 56, 56, 0.868);
    font-size: 50px;
  
  }}