canvas {
  position: fixed;
  top: 0;
  left: 0;
} 
body {
  width: 1000vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  
}
#button1{
  border: 0;
  z-index: 265;
  position: fixed;
  top: 0%;
  left: 0%;
  overflow: hidden;
  width: 5vw;
  height: 2.5vh;
  color: rgb(0, 255, 76);
  background-color: rgba(59, 56, 56, 0.568);
}
#button2{
  border: 0;
  z-index: 265;
  position: fixed;
  top: 2.5%;
  left: 0%;
  overflow: hidden;
  width: 5vw;
  height: 2.5vh;
  color: rgb(0, 255, 76);
  background-color: rgba(59, 56, 56, 0.568);
}
#InfoTabulka{
  padding: 1rem;
  z-index: 1000;
  position: fixed;
  top: 4%;
  left: 0%;
  overflow: hidden;
  display: block;
  color: rgb(0, 255, 76);
  background-color: rgba(59, 56, 56, 0.568);
  font-size: 25px;

}